## Name: David Geng

# Market Basket Analysis: Unsupervised Learning

## Loading Library

In [1]:
# libraries
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

## Loading and Processing data

In [2]:
# # import into colab
# from google.colab import files
# uploaded = files.upload()

In [3]:
# read the dataset
df = pd.read_csv('books.csv')

In [4]:
# df info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Seq#              4000 non-null   int64
 1   ID#               4000 non-null   int64
 2   Gender            4000 non-null   int64
 3   M                 4000 non-null   int64
 4   R                 4000 non-null   int64
 5   F                 4000 non-null   int64
 6   FirstPurch        4000 non-null   int64
 7   ChildBks          4000 non-null   int64
 8   YouthBks          4000 non-null   int64
 9   CookBks           4000 non-null   int64
 10  DoItYBks          4000 non-null   int64
 11  RefBks            4000 non-null   int64
 12  ArtBks            4000 non-null   int64
 13  GeogBks           4000 non-null   int64
 14  ItalCook          4000 non-null   int64
 15  ItalAtlas         4000 non-null   int64
 16  ItalArt           4000 non-null   int64
 17  Florence          4000 non-null   int64
 18  Related Purchase  4000 non-null   int64
 19  Mcode             4000 non-null   int64
 20  Rcode             4000 non-null   int64
 21  Fcode             4000 non-null   int64
 22  Yes_Florence      4000 non-null   int64
 23  No_Florence       4000 non-null   int64
dtypes: int64(24)
memory usage: 750.1 KB

In [5]:
# df head
df.head()

,Seq#,ID#,Gender,M,R,F,FirstPurch,ChildBks,YouthBks,CookBks,...,ItalCook,ItalAtlas,ItalArt,Florence,Related Purchase,Mcode,Rcode,Fcode,Yes_Florence,No_Florence
0,1,25,1,297,14,2,22,0,1,1,...,0,0,0,0,0,5,4,2,0,1
1,2,29,0,128,8,2,10,0,0,0,...,0,0,0,0,0,4,3,2,0,1
2,3,46,1,138,22,7,56,2,1,2,...,1,0,0,0,2,4,4,3,0,1
3,4,47,1,228,2,1,2,0,0,0,...,0,0,0,0,0,5,1,1,0,1
4,5,51,1,257,10,1,10,0,0,0,...,0,0,0,0,0,5,3,1,0,1

In [6]:
# removing columns in the front
df = df.iloc[:, 7:]
df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence,Related Purchase,Mcode,Rcode,Fcode,Yes_Florence,No_Florence
0,0,1,1,0,0,0,0,0,0,0,0,0,5,4,2,0,1
1,0,0,0,0,0,0,0,0,0,0,0,0,4,3,2,0,1
2,2,1,2,0,1,0,1,1,0,0,0,2,4,4,3,0,1
3,0,0,0,0,0,0,0,0,0,0,0,0,5,1,1,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,5,3,1,0,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ChildBks          4000 non-null   int64
 1   YouthBks          4000 non-null   int64
 2   CookBks           4000 non-null   int64
 3   DoItYBks          4000 non-null   int64
 4   RefBks            4000 non-null   int64
 5   ArtBks            4000 non-null   int64
 6   GeogBks           4000 non-null   int64
 7   ItalCook          4000 non-null   int64
 8   ItalAtlas         4000 non-null   int64
 9   ItalArt           4000 non-null   int64
 10  Florence          4000 non-null   int64
 11  Related Purchase  4000 non-null   int64
 12  Mcode             4000 non-null   int64
 13  Rcode             4000 non-null   int64
 14  Fcode             4000 non-null   int64
 15  Yes_Florence      4000 non-null   int64
 16  No_Florence       4000 non-null   int64
dtypes: int64(17)
memory usage: 531.4 KB

In [8]:
# removing columns from the end
df = df.iloc[:, 0:11]
df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0
2,2,1,2,0,1,0,1,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0

In [9]:
# transforming rows to binary
df[:] = np.where(df >= 1, 1, 0)
df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0
2,1,1,1,0,1,0,1,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0

## Association Analysis

In [12]:
# create frequent itemsets
pd.options.display.max_rows = None
itemsets = apriori(df, min_support = 0.1, use_colnames= True)
itemsets

/opt/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                       itemsets
0   0.39400                     (ChildBks)
1   0.23825                     (YouthBks)
2   0.41550                      (CookBks)
3   0.25475                     (DoItYBks)
4   0.20475                       (RefBks)
5   0.22300                       (ArtBks)
6   0.26675                      (GeogBks)
7   0.10750                     (ItalCook)
8   0.14750           (YouthBks, ChildBks)
9   0.24200            (CookBks, ChildBks)
10  0.16150           (DoItYBks, ChildBks)
11  0.12825             (RefBks, ChildBks)
12  0.10525             (ArtBks, ChildBks)
13  0.14625            (GeogBks, ChildBks)
14  0.16100            (YouthBks, CookBks)
15  0.10325           (YouthBks, DoItYBks)
16  0.10450            (YouthBks, GeogBks)
17  0.16875            (CookBks, DoItYBks)
18  0.13975              (CookBks, RefBks)
19  0.11300              (CookBks, ArtBks)
20  0.15625             (GeogBks, CookBks)
21  0.10100            (GeogBks, DoItYBks)
22  0.12000  (YouthBks, CookBks, ChildBks)
23  0.12775  (CookBks, DoItYBks, ChildBks)
24  0.10350    (RefBks, CookBks, ChildBks)
25  0.10950   (GeogBks, CookBks, ChildBks)

In [17]:
# Extract Rules Based on Confidence
rules = association_rules(itemsets, metric= 'confidence', min_threshold= 0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(YouthBks),(ChildBks),0.23825,0.39400,0.14750,0.619098,1.571314,0.053629,1.590959
1,(CookBks),(ChildBks),0.41550,0.39400,0.24200,0.582431,1.478251,0.078293,1.451256
2,(ChildBks),(CookBks),0.39400,0.41550,0.24200,0.614213,1.478251,0.078293,1.515086
3,(DoItYBks),(ChildBks),0.25475,0.39400,0.16150,0.633955,1.609022,0.061129,1.655534
4,(RefBks),(ChildBks),0.20475,0.39400,0.12825,0.626374,1.589781,0.047579,1.621941
5,(GeogBks),(ChildBks),0.26675,0.39400,0.14625,0.548266,1.391538,0.041150,1.341498
6,(YouthBks),(CookBks),0.23825,0.41550,0.16100,0.675761,1.626380,0.062007,1.802681
7,(DoItYBks),(CookBks),0.25475,0.41550,0.16875,0.662414,1.594258,0.062901,1.731411
8,(RefBks),(CookBks),0.20475,0.41550,0.13975,0.682540,1.642695,0.054676,1.841175
9,(ArtBks),(CookBks),0.22300,0.41550,0.11300,0.506726,1.219558,0.020344,1.184941
10,(GeogBks),(CookBks),0.26675,0.41550,0.15625,0.585754,1.409758,0.045415,1.410999
11,"(YouthBks, CookBks)",(ChildBks),0.16100,0.39400,0.12000,0.745342,1.891730,0.056566,2.379659
12,"(YouthBks, ChildBks)",(CookBks),0.14750,0.41550,0.12000,0.813559,1.958025,0.058714,3.135045
13,(YouthBks),"(CookBks, ChildBks)",0.23825,0.24200,0.12000,0.503673,2.081292,0.062344,1.527218
14,"(CookBks, DoItYBks)",(ChildBks),0.16875,0.39400,0.12775,0.757037,1.921414,0.061262,2.494207
15,"(CookBks, ChildBks)",(DoItYBks),0.24200,0.25475,0.12775,0.527893,2.072198,0.066101,1.578560
16,"(DoItYBks, ChildBks)",(CookBks),0.16150,0.41550,0.12775,0.791022,1.903783,0.060647,2.796941
17,(DoItYBks),"(CookBks, ChildBks)",0.25475,0.24200,0.12775,0.501472,2.072198,0.066101,1.520476
18,"(CookBks, RefBks)",(ChildBks),0.13975,0.39400,0.10350,0.740608,1.879716,0.048438,2.336234
19,"(ChildBks, RefBks)",(CookBks),0.12825,0.41550,0.10350,0.807018,1.942280,0.050212,3.028773
20,(RefBks),"(CookBks, ChildBks)",0.20475,0.24200,0.10350,0.505495,2.088820,0.053950,1.532844
21,"(GeogBks, CookBks)",(ChildBks),0.15625,0.39400,0.10950,0.700800,1.778680,0.047937,2.025401
22,"(GeogBks, ChildBks)",(CookBks),0.14625,0.41550,0.10950,0.748718,1.801969,0.048733,2.326071

In [19]:
# sorting rules
rules.sort_values(by = ['lift'], ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
20,(RefBks),"(CookBks, ChildBks)",0.20475,0.24200,0.10350,0.505495,2.088820,0.053950,1.532844
13,(YouthBks),"(CookBks, ChildBks)",0.23825,0.24200,0.12000,0.503673,2.081292,0.062344,1.527218
15,"(CookBks, ChildBks)",(DoItYBks),0.24200,0.25475,0.12775,0.527893,2.072198,0.066101,1.578560
17,(DoItYBks),"(CookBks, ChildBks)",0.25475,0.24200,0.12775,0.501472,2.072198,0.066101,1.520476
12,"(YouthBks, ChildBks)",(CookBks),0.14750,0.41550,0.12000,0.813559,1.958025,0.058714,3.135045
19,"(ChildBks, RefBks)",(CookBks),0.12825,0.41550,0.10350,0.807018,1.942280,0.050212,3.028773
14,"(CookBks, DoItYBks)",(ChildBks),0.16875,0.39400,0.12775,0.757037,1.921414,0.061262,2.494207
16,"(DoItYBks, ChildBks)",(CookBks),0.16150,0.41550,0.12775,0.791022,1.903783,0.060647,2.796941
11,"(YouthBks, CookBks)",(ChildBks),0.16100,0.39400,0.12000,0.745342,1.891730,0.056566,2.379659
18,"(CookBks, RefBks)",(ChildBks),0.13975,0.39400,0.10350,0.740608,1.879716,0.048438,2.336234

In [23]:
# Extract Rules Based on Confidence
rules = association_rules(itemsets, metric= 'lift', min_threshold= 2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(CookBks, ChildBks)",(YouthBks),0.24200,0.23825,0.12000,0.495868,2.081292,0.062344,1.511012
1,(YouthBks),"(CookBks, ChildBks)",0.23825,0.24200,0.12000,0.503673,2.081292,0.062344,1.527218
2,"(CookBks, ChildBks)",(DoItYBks),0.24200,0.25475,0.12775,0.527893,2.072198,0.066101,1.578560
3,(DoItYBks),"(CookBks, ChildBks)",0.25475,0.24200,0.12775,0.501472,2.072198,0.066101,1.520476
4,"(CookBks, ChildBks)",(RefBks),0.24200,0.20475,0.10350,0.427686,2.088820,0.053950,1.389534
5,(RefBks),"(CookBks, ChildBks)",0.20475,0.24200,0.10350,0.505495,2.088820,0.053950,1.532844

In [24]:
# sorting rules
rules.sort_values(by = ['lift'], ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
5,(RefBks),"(CookBks, ChildBks)",0.20475,0.24200,0.10350,0.505495,2.088820,0.053950,1.532844
4,"(CookBks, ChildBks)",(RefBks),0.24200,0.20475,0.10350,0.427686,2.088820,0.053950,1.389534
0,"(CookBks, ChildBks)",(YouthBks),0.24200,0.23825,0.12000,0.495868,2.081292,0.062344,1.511012
1,(YouthBks),"(CookBks, ChildBks)",0.23825,0.24200,0.12000,0.503673,2.081292,0.062344,1.527218
2,"(CookBks, ChildBks)",(DoItYBks),0.24200,0.25475,0.12775,0.527893,2.072198,0.066101,1.578560
3,(DoItYBks),"(CookBks, ChildBks)",0.25475,0.24200,0.12775,0.501472,2.072198,0.066101,1.520476